{% extends 'taskApp/layout.html' %}

{% block title %}
    Create Task
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create New Task</h1>
        
        <!-- Task Form -->
        <form action="{% url 'create_task' %}" method="post">
            {% csrf_token %}
            <!-- Task name -->
            <div class="form-group">
                <label for="task_name">Task: </label>
                <input type="text" class="form-control" id="task_name" name="task_name" placeholder="Enter task">
            </div>

            <!-- Task description -->
            <div class="form-group">
                <label for="task_description">Description: </label>
                <input type="text" class="form-control" id="task_description" name="task_description" placeholder="Enter task description">
            </div>

            <!-- Task description -->
            <div class="form-group">
                <label for="task_deadline">Deadline: </label>
                <input type="date" class="form-control" id="task_deadline" name="task_deadline">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
{% endblock %}